* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-image: linear-gradient(120deg, #f6d365, #d1502d);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #d1502d;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease; /* посмотреть про это свойство!!! */
}

form button:hover {
    background: #d1502d;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    list-style: none;
    min-width: 30%;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.checked-btn, .trash-btn {
    background: #d1502d;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.checked-btn {
    background: rgba(74, 194, 70, 0.836);
    color: white;
}

.todo-item {
    padding: 0rem 1rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translate(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #d1502d;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: '\25BC';
    position: absolute;
    background: white;
    color: #d1502d;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

.select:hover::after {
    background: #d1502d;
    color: white;
}